<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Feedback Email</title>
    <style>
        body {
            width: 100%;
            background-color: white;
            padding: 5% 10%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 100%;
        }

        #logo {
            width: 20%;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
<img
    id="logo"
    src="<%- baseUrl %>/assets/images/Logo.svg"
    alt="pilla-logo"
/>
<h1>Feedback Received</h1>
<p><strong>Full Name:</strong> <%= fullName %></p>
<p><strong>Email:</strong> <%= email %></p>
<p><strong>Message:</strong></p>
<p><%= message %></p>
</body>
</html>
